<a href="https://colab.research.google.com/github/DEEPTHIA29/Code/blob/master/PANDAS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing the Pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

IMPORTING THE PANDAS AND NUMPY LIBRARY

In [5]:
import pandas as pd
import numpy as np

CREATING THE LIST

In [3]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

CREATING A SERIES

In [4]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
arr=np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series(data=['Dayanand','Damayanthi','Deepthi','Dishanth'],index=[1,2,3,4]) #The index by default starts with 0 but we can give the index of our choice

1      Dayanand
2    Damayanthi
3       Deepthi
4      Dishanth
dtype: object

SERIES THROUGH DICTIONARY VALUES

In [8]:
steps={'day_1':1000,'day_2':2000,'day_3':4000}
steps

{'day_1': 1000, 'day_2': 2000, 'day_3': 4000}

In [9]:
pd.Series(steps)

day_1    1000
day_2    2000
day_3    4000
dtype: int64

USING REPEAT FUNCTION

In [10]:
pd.Series(5).repeat(5)

0    5
0    5
0    5
0    5
0    5
dtype: int64

In [11]:
pd.Series(5).repeat(5).reset_index() # here in the above by default the indexes are same,we can use the reset function to  make indexes accurate

   index  0
0      0  5
1      0  5
2      0  5
3      0  5
4      0  5

In [12]:
pd.Series(5).repeat(5).reset_index(drop=True)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [13]:
s=pd.Series([10,2]).repeat([5,2])
s

0    10
0    10
0    10
0    10
0    10
1     2
1     2
dtype: int64

In [18]:
s=pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)
s

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

ACCESSING THE ELEMENTS

In [19]:
s[0]

np.int64(10)

In [20]:
s[6]

np.int64(20)

In [21]:
s[:]

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

In [22]:
s[:-1]

0    10
1    10
2    10
3    10
4    10
5    20
dtype: int64

In [23]:
s[1:-1]

1    10
2    10
3    10
4    10
5    20
dtype: int64

In [24]:
s[2:-2]

2    10
3    10
4    10
dtype: int64